table .w-40 {
  width: 40%;
}
table .w-60 {
  width: 60%;
}

.group-box {
  display: flex;
  justify-content: space-between;
}
.lead {
  display: flex;
  flex-direction: column;
}

.btn-download {
  margin-top: 10px;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}
